/* start styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #444;
  font-family: 'Poppins';
  color: #ffff;
}

li,
ul {
  list-style-type: none;
  padding: 0;
}

main {
  padding: 140px 40px 40px;
  color: #bbb;
  font-size: 1.8rem;
}

.title-bar {
  padding: 3rem;
  width: 100%;
  height: 15rem;
  background-color: rgb(49, 49, 49);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 2rem;
}

.slide-out {
  position: absolute;
  left: -30rem;
  z-index: 1;
  width: 20rem;
  height: 100%;
  background-color: rgb(32, 32, 32);
}

.toggled-menu .slide-out {
  transform: translateX(30rem);
}

.list {
  padding: 15rem 2rem 2rem 2rem;
}

.list li a {
  display: inline-block;
  color: #ffff;
  font-size: 2rem;
  margin-bottom: 0.6rem;
}

.hamburger-icon {
  position: absolute;
  top: 6rem;
  left: 2rem;
  z-index: 10;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.top,
.middle,
.button {
  background-color: #ffff;
  width: 100%;
  height: 2px;
  margin: 0.5rem 0 0.5rem 0;
}

.toggled-icon .top {
  transform: rotate(45deg);
  margin: 0;
}

.toggled-icon .middle {
  transform: scale(0);
  margin: 0;
}

.toggled-icon .button {
  transform: rotate(-45deg);
  margin: 0;
}

.top,
.middle,
.button,
.slide-out {
  transition: all 0.2s ease-in-out;
}
